@use "../../partials/breakpoints" as *;

.modal {
  display: flex;
  justify-content: center;

  & > * {
    flex: 1 1 0;
  }
}

.MuiDialog-paper {
  min-height: 80%;
  padding: 1rem 2rem;
}

@include tablet {
  .modal {
    padding: 0;
    height: 100%;
  }
  .MuiDialog-paper {
    min-width: 60vw;
    border-radius: 18px;
    padding: 2.5rem;
  }
}
