* {
  font-family: inherit;
}

.form {
  padding: 2.5rem 1.5rem;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
  }

  &__cancel {
    outline: none;
    border: none;
    background: none;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
    color: #69665c;
  }

  &__add {
    background-color: #69665c;
    color: #ffffff;
    outline: none;
    border: none;
    padding: 0.7rem 2.75rem;
    border-radius: 12px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    font-weight: bold;
    padding: 2rem 0 1rem 0;
  }

  &__input {
    border-radius: 8px;
    border: none;
    background-color: #f9f9f8;
    padding: 0.75rem 1rem;
    color: #69665c;
    font-weight: bold;
    font-size: 0.8rem;

    &--large {
      min-height: 7rem;
      resize: none;
    }
  }

  &__tags {
    display: flex;
    flex-direction: column;
  }
}
