@use "../../partials/colors" as *;
@use "../../partials/breakpoints" as *;

* {
  font-family: inherit;
}

.form {
  // padding: 0rem 1.5rem;
  height: 100%;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
  }

  &__cancel {
    outline: none;
    border: none;
    background: none;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
    color: $primary-dark;
  }

  &__add {
    background-color: $primary-dark;
    color: #ffffff;
    outline: none;
    border: none;
    padding: 0.7rem 2.75rem;
    border-radius: 12px;
    cursor: pointer;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    font-weight: bold;
    padding: 1.5rem 0 1rem 0;
  }

  &__filter {
    padding: 0.125rem 1rem;
    margin: 0.125rem 0;
    width: fit-content;
    padding-right: 1rem;
  }

  &__input {
    border-radius: 8px;
    border: none;
    background-color: #f9f9f8;
    padding: 0.75rem 1rem;
    color: $primary-dark;
    font-weight: bold;
    font-size: 0.8rem;

    &--large {
      min-height: 7rem;
      resize: none;
    }
  }

  &__tags {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@include tablet {
  .form {
    max-height: 100%;
    max-width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;

    & > * {
      flex: 1 1 0;
    }

    &__top {
      padding-bottom: 0;
    }
    &__tags--container {
      display: flex;
    }
  }
}
