@use "../../partials/colors" as *;

.heading {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 1rem 0.75rem;
  }

  &__title {
    margin: 0;
    font-size: 2rem;
  }

  &__add {
    display: block;
    color: $primary-dark;
    font-size: 1.75rem;
  }
}
