//monochrome colours
$primary-dark: #69665c;
$primary-medium: #b2afa1;
$primary-white: #ffffff;

//colours
$primary-background: #fff9de;
$primary-ent: #ffcece;
$primary-work: #d2ceff;
$primary-study: #d1e5f7;
$primary-family: #daf2d6;
