@font-face {
  font-family: "Ubuntu";
  src: url("/Ubuntu-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url("/Ubuntu-Medium.ttf");
  font-style: bold;
}
